.profile__job{
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}
@media screen and (max-width: 540px){
  .profile__job{
    font-size: 14px;
    line-height: 17px;
    max-width: 240px;
    text-align: center;
  }
}