/* Эти стили находятся в page.css, но раньше они применялись на body, а сейчас если оставлять без изменений то внутри root. Остается пол экрана белым без фона */
body {
  background-color: black;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
}

@import url("./vendor/normalize.css");
@import url("./vendor/fonts.css");

/* @import url("./blocks/page/page.css"); */
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__login/header__login.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__user/header__user.css");
@import url("./blocks/main-content/main-content.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__wrapper/profile__wrapper.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-btn/profile__avatar-btn.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__title-inner/profile__title-inner.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__edit-btn/profile__edit-btn.css");
@import url("./blocks/profile/__job/profile__job.css");
@import url("./blocks/profile/__add-btn/profile__add-btn.css");
@import url("./blocks/places/places.css");
@import url("./blocks/place/place.css");
@import url("./blocks/place/__image/place__image.css");
@import url("./blocks/place/__delete-btn/place__delete-btn.css");
@import url("./blocks/place/__delete-btn/_type/place__delete-btn_active.css");
@import url("./blocks/place/__footer/place__footer.css");
@import url("./blocks/place/__like-wrapper/place__like-wrapper.css");
@import url("./blocks/place/__like/place__like.css");
@import url("./blocks/place/__counter/place__counter.css");
@import url("./blocks/place/__like/_active/place__like_active.css");
@import url("./blocks/place/__name/place__name.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copy/footer__copy.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__container-place/popup__container-place.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__close-btn/popup__close-btn.css");
@import url("./blocks/popup/__form-field/popup__form-field.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__error/popup__error.css");
@import url("./blocks/popup/__error/_active/popup__error_active.css");
@import url("./blocks/popup/__submit-btn/popup__submit-btn.css");
@import url("./blocks/popup/__submit-btn/_disabled/popup__submit-btn_disabled.css");
@import url("./blocks/popup/_zoom-place/popup_zoom-place.css");
@import url("./blocks/popup/__delete-container/popup__delete-container.css");
@import url("./blocks/popup/__delete-title/popup__delete-title.css");
@import url("./blocks/popup/__place-image/popup__place-image.css");
@import url("./blocks/popup/__place-title/popup__place-title.css");
@import url("./blocks/popup/__avatar-container/popup__avatar-container.css");
@import url("./blocks/popup/__info-tool/popup__info-tool.css");
@import url("./blocks/popup/__info-img/popup__info-img.css");
@import url("./blocks/popup/__info-message/popup__info-message.css");
@import url("./blocks/login/login.css");
@import url("./blocks/login/__title/login__title.css");
@import url("./blocks/login/__submit-btn/login__submit-btn.css");
@import url("./blocks/login/__form/login__form.css");
@import url("./blocks/login/__input/login__input.css");
@import url("./blocks/login/__submit-btn/login__submit-btn.css");
@import url("./blocks/login/__link/login__link.css");

